:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

body {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  height: 10%;
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  font-color: rgb(255, 255, 255);
  line-height: 10%;
}

h1 {
  text-align: center;
  color: rgb(238, 239, 252);
  justify-content: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 80px;
  font-weight:normal;
  font-style:normal;
  line-height: 0%;
  margin-bottom: 30px;
}

p{
  text-align: center;
  color: rgb(238, 239, 252);
  font-size: 25px;
  justify-content: center;
  font-family: 'Consolas', sans-serif;
  font-weight:normal;
  font-style:normal;
}

h2{
  text-align: center;
  color: rgb(150, 150, 150);
  font-size: 25px;
  justify-content: center;
  font-family: 'Consolas', sans-serif;
  font-weight:normal;
  font-style:normal;
}
hr
{
  height: 1px;
  background-color: rgb(70, 70, 70);
  border: none;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 996px;
  width: calc(100% - 20px);
}

#cards:hover > .card > .card-border {
  opacity: 1;
}

.top {
  background-color: rgb(20, 20, 20);
  border-style: solid;
  border-color: rgb(20, 20, 20);
  border-radius: 5px;
  min-width: 916px;
  min-height: 660px;
  width: 916px;
  position: relative;
}

.bot {
  background-color: rgb(20, 20, 20);
  border-style: solid;
  border-color: rgb(20, 20, 20);
  border-radius: 5px;
  min-width: 916px;
  min-height: 100px;
  width: 916px;
  position: relative;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  height: 260px;
  width: 300px;
  position: relative;
  
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card > .card-border {
  border-radius: inherit;
  content: "";
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 500ms;
  position: absolute;
  z-index: 2;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}
  
.card > .card-border {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.3),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  height: calc(100% - 2px);
  margin: 1px;
  position: relative;
  width: calc(100% - 2px);
  z-index: 2;
}
